extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Fusce venenatis neque nisl, ac interdum massa bibendum vitae. Interdum et malesuada fames ac ante ipsum primis in faucibus. facilisis accumsan. Maecenas maximus dui enim, id condimentum lectus iaculis ac. Ut sed sagittis eros, faucibus dictum tortor. Fusce pharetra nulla at tincidunt dignissim. Vestibulum feugiat ultricies velit, bibendum rutrum odio tristique ut. Donec enim mi, aliquet ut dapibus id, convallis at ligula.

                p Suspendisse tincidunt accumsan sem, vitae vestibulum turpis sagittis id. Ut convallis risus varius mi varius laoreet. Sed facilisis, magna at porta eleifend, velit sapien faucibus lacus, a vulputate turpis odio eu justo. Vivamus sollicitudin, odio ac bibendum tincidunt, nisi mi bibendum nisi, eu porta dui leo vitae leo. Nunc eget accumsan lorem. Integer vulputate bibendum pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat sapien erat, et fermentum ante consequat a. Pellentesque mattis purus sed ornare consequat. Nam eu sem a justo imperdiet elementum. In nulla urna, posuere vitae turpis nec, venenatis vulputate leo.

                p Duis placerat eget augue ut malesuada. Vivamus tellus ipsum, faucibus eget porta eu, sagittis ac lorem. Vivamus pretium felis sit amet congue rutrum. Praesent id nibh aliquet tortor cursus volutpat ut sit amet sem. Morbi sodales blandit leo a vestibulum. Donec in laoreet sapien, ut viverra massa. Vestibulum sit amet purus ipsum.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Curabitur efficitur consequat eros et pharetra. Donec ultrices nisl quam, vitae tristique mauris varius nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Curabitur efficitur consequat eros et pharetra. Donec ultrices nisl quam, vitae tristique mauris varius nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Curabitur efficitur consequat eros et pharetra. Donec ultrices nisl quam, vitae tristique mauris varius nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    